@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

body {
    margin: 0;
    padding: 0;    
    height: 100vh;        
    min-width: 320px;
    font-family: 'Cormorant Infant', 'Times New Roman', Times, serif;
       
}
p {
    margin: 0;
    padding: 0;
}
.grid-container {
    display: grid;
    grid-template-areas: "header"
                         "main"                         
                         "footer";
    grid-template-columns:  auto;
    grid-template-rows: fit-content auto 10vh;
    
}
header {
    grid-area: header;    
    background: url(images/birds_header.jpg) no-repeat left top;
    background-size: cover;        
    width: 100%;
    height: 35vh;
}
main {
    grid-area: main;    
    display: grid;
    grid-template-columns: 1fr 1fr 0.4fr 1.6fr 1fr;
    grid-template-rows: 10vh auto auto auto;
    font-size: 18px;
}
aside {
    grid-area: sidebar;
    background-color: rgba(250, 160, 132, 0.5);
}
footer {
    grid-area: footer;
    background-color: rgba(140, 140, 140, 0.5);    
    padding: 1%;
    height: 5vh;
}

/* MAIN MENU */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
.main-menu {        
    grid-column: 1 / 6;
    height: 10vh;
    background-color: lightgray;     
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}
.main-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.menu-item {        
    margin: 0 10% 0 0;  
    display: inline-block;  
    position: relative;  
    padding-top: 0;        
    height: 1.1em;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;    
}
.menu-item::before {
    position: absolute;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: -3px;       
    height: 2px;
    background: rgb(66, 66, 66);
  }
.main-menu li:hover {    
    cursor: pointer;
}
.menu-item:hover:before {
    width: 100%;
    left: 0;
  }
.arrow-down::after {
    content: "";    
    background: url(images/arrow-down.svg) no-repeat;
    width: 5vw;      
    height: 0.8rem;
    display: block;
    position: relative;
    left: 100%;
    bottom: 65%;     
    margin-left: 5%;
}
.arrow-up::after {
    content: "";    
    background: url(images/arrow-up.svg) no-repeat;
    width: 5vw;      
    height: 0.8rem;
    display: block;
    position: relative;
    left: 100%;
    bottom: 65%;     
    margin-left: 5%;
}
ul.sub-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 0.9em;    
    padding-top: 2%;    
    visibility: hidden;    
}
ul.show-sub {
    visibility: visible;
}

.sub-menu li {
    padding: 2% 0 0 10%;
    margin: 5% 0 3% 0;    
    width: 12vw;
    border-radius: 10%;    
    border: none;
}
.sub-menu {
    margin-top: 5%;
    background-color: lightgray;
    border-radius: 5%;
    z-index: 3;
}
.sub-menu li:hover, .sub-menu a:hover {
    color: #383838;
    border: none;
}
/* LOGO */
.logo {
    float: left;
    font-family: "Caveat", 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    text-align: right;
    padding-left: 5%;
}

/* PHOTO */
.photo {
    grid-row: 2 / 3;
    grid-column: 1 / 2;    
    margin: 15% auto;
    
}
.photo img {    
    border-radius: 5%;       
}

/* FOOTER */
footer > p {
    padding-left: 2%;
    display: inline-block;
}
footer > a {
    margin-left: 5%;
    text-decoration: underline #757575;
}

/* WEATHER */
.weather {
    display: block;
    margin: 20% auto 0;    
    width: 170px;        
    background-color: lightgray;
    border-radius: 5%;    
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 5%;    
}
.weather h4 {
    margin: 5% 0 0 0;        
}
.weather img {
    margin: 0;
}
@media screen and (max-width: 450px) {
    .weather {
        top: 15%;
    }
    .weather img {
        width: 35px;
    }
    div.social {
        top: 10%;
        left: 5%;
    }
    .social img {        
        width: 25px;
    }
    .main-menu {
        font-size: 4vw;
    }
    ul.sub-menu {
        font-size: 3vw;
    }
}
.weather p {
    margin: 0;
}
p.degrees {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 1.2vw;
    margin-bottom: 4%;
    color: #474747;
}


/* SOCIAL-MEDIA LINKS */
.social {
    display: inline-block;
    position: relative;
    top: 70%;
    left: -15%;   
    width: 300px;     
}
.social a {
    margin: 0 5% 0 5%;
}

/* MAIN CONTENT */
.my-info {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    padding-left: 10%;
    margin-top: 10%;    
}
.my-info-extended {
    grid-column: 4 / 6;
    grid-row: 2 / 3;    
    margin: 5% 5% 0 0;
    padding-left: 3%;
}
.skills {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    padding: 0 0 10% 10%;
    margin: -15% 0 0 0;
}
.skills-extended {
    grid-column: 4 / 6;
    grid-row: 3 / 4;
    margin: -7% 5% 3% 0;
    padding-left: 3%;
}
.features {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    padding: 0 0 5% 10%;
    margin: -3% 0 10% 0;
}
.features-extended {
    grid-column: 4 / 6;
    grid-row: 4 / 5;
    margin: 1% 0 10% 0;
    padding-left: 3%;
}
.box li {
    line-height: 1.5em;
}
.box {
    background-color: #dcc1bd;  
    border-radius: 3%;   
}
.box hr {
    margin: 20% 10% 0 0;
    height: 0;
    border: none;
    border-bottom: 2px dotted #383838;
}
/* FORMS */
.form-container {        
    background-color: #dddddd;
    border-radius: 5%;
    height: 300px;
    width: 350px;
    margin: 5vh 5% 7vh 10%;
    padding: 0 3vw 5vh 3vw;
}
.form-container h3 {
    text-align: center;
    margin-bottom: 0.5em;
}
.form-container h3::before {
    content: "";
    position: relative;
    top: 15px;
    width: 60px;
    height: 1px;
    display: block;
    border-bottom: 2px dotted  #383838;
}
.feedback h3::after {
    content: "";
    width: 60px;
    height: 1px;
    display: block;
    border-bottom: 2px dotted  #383838;
    position: relative;
    left: 295px;
    top: -12px;
}
.good-mood h3::after {
    content: "";
    width: 60px;
    height: 1px;
    display: block;
    border-bottom: 2px dotted  #383838;
    position: relative;
    left: 295px;
    top: -37px;
}
.feedback {
    grid-column: 1 / 4;
    grid-row: 2 / 3; 
    margin-left: 20%;
}
.good-mood {
    grid-column: 3 / 6;
    grid-row: 2 / 3; 
    margin-left: 20%;
}
input[type="range"] {
    display: block;
    -webkit-appearance: none;    
    width: 300px;
    height: 5px;    
    outline: 0;
    margin-left: 25px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 1vh;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 1px 1px 1px #5f5f5f, 0px 0px 1px #a0a0a0;
    background:  #dcc1bd;
    border-radius: 1.3px;    
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #474747, 0px 0px 1px #a0a0a0;    
    height: 3vh;
    width: 1vw;
    border-radius: 30%;
    background: #cacaca;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  
  input[type=range]::-moz-range-track {
    width: 300px;
    height: 1vh;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 1px 1px 1px #5f5f5f, 0px 0px 1px #a0a0a0;
    background:  #dcc1bd;
    border-radius: 1.3px;    
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #474747, 0px 0px 1px #a0a0a0;    
    height: 3vh;
    width: 1vw;
    border-radius: 30%;
    background: #cacaca;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 300px;
    height: 1vh;
    cursor: pointer;
    transition: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background:  #dcc1bd;    
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #5f5f5f, 0px 0px 1px #a0a0a0;
  }
  input[type=range]::-ms-fill-upper {
    background:  #dcc1bd;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #5f5f5f, 0px 0px 1px #a0a0a0;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #474747, 0px 0px 1px #a0a0a0;    
    height: 3vh;
    width: 1vw;
    border-radius: 30%;
    background: #cacaca;
    cursor: pointer;
  }
input[type=radio] {
    margin: 0 5px 15px 25px;    
}

.error {
    border: 1px solid #8c0415;
}
.value {
    margin-bottom: 5%;
    position: relative;
    transform-origin: center center;
    display: block;    
    background: transparent;    
    padding-left: 25px;    
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #3b3b3b;    
}
.value::after {
    content: "  ";
    display: block;
    position: relative;
    left: -2.2%;
    margin-top: -25px;
    width: 25px;
    height: 25px;
    border: 1px dotted gray;
    border-radius: 50%;
}
form > label > p {
    margin-bottom: 2%;
    margin-top: 0;
}
/* MODAL */
.modal {
    z-index: 1;
    position: fixed;
    display: none;
    width: 620px;
    height: 420px;
    background-color: white;
    left: 30%;
    top: 20%;
}
.close {    
    width: 30px;
    height: 30px;
    position: relative;
    float: right;    
    background: url(images/close.svg) no-repeat, lightgray;
    border: none;
    border-radius: 50%;
    margin: 12px 12px 0 0;
}
.overlay {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(200, 200, 200, 0.6);
    display: none;
    filter: blur(10px);
}
.open {
    display: block;    
}
.card-picture {
    margin: -33px 10px 10px 10px;
}
/* BUTTONS */
button, button:active, button:focus, 
input, input:active, input:focus {
    outline: none;
}
.button {      
    background-color: inherit;    
    height: 35px;
    width: 120px;
    margin-top: 5%;
    font-family: 'Cormorant Infant', 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 0.8em;
    text-transform: uppercase;    
    -webkit-appearance: none;
    transition: 0.4s;
    background-image: linear-gradient(to left, #f5ab80 0%,  #cdb2aa 51%, #a7aeb6 100%);
    background-size: 200% auto;
    color: black;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);    
    border-radius: 5px;        
}
.button:hover {
    background-position: right center;
}
.button:active {
    box-shadow: inset 2px 2px 3px gray;
    border: none;
}
.good-mood .button {
    display: block;
    margin: 10% auto;
}
.feedback .button {    
    margin: 65px 25px 0 25px;
}
/* GALLERY */
.big-photo-container {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;   
    margin-top: 4vh;     
}
.big-photo {
    grid-column: 2 / 3;
    margin: 0 auto;
         
}
.big-picture {
    width: 700px;
}
.search-pannel {
    grid-column: 1 / 2;    
    margin: 0 0 0 3vw;
    display: block;    
    background-color: #dcc1bd; 
    height: 525px;      
    font-size: larger; 
}
.small-photo-container {
    grid-column: 1 / 6;
    grid-row: 3 / 4;    
    display: block;
    margin-top: 20px;  
    margin-bottom: 20px;
    padding-left: 3vw;
    position: relative;
}
.small {
    width: 200px;
    height: 150px;
    margin-left: 10px;
}
.small:hover {
    transform: translateY(-10px) scale(1.1);
}
.search-pannel h3 {
    text-align: center;
}
.search-pannel button {
    margin: 2vh 0 2vh 11vw;
}
#categories, #words {
    margin: 10%;
}
input[type=search] {
    width: 20vw;
    height: 5vh;
    font-size: 0.8em;    
}
select {
    width: 11vw;
    height: 5vh;
    font-size: 0.8em;
}
.error-message {
    display: block;
    position: absolute;
    top: 110%;
    left: 10%;
    width: 150px;
    height: 30px;
    border: 1px solid gray;
    text-align: center;
}
.search-pannel hr {
    margin: 0 10%;
    height: 0;
    border: none;
    border-bottom: 2px dotted #383838;
}

/* CLOCK */
.clock {
    display: block;
    float: right;
    width: 11vw;
    height: 4vh;
    background-color: rgba(201, 201, 201, 0.5);
    border-radius: 10%;
    margin: 10% 5%;  
    padding: 1%;
    text-align: center;
}
.time {    
    font-size: 1.6em;  
    display: inline-block; 
    font-family: 'Anonymous Pro', monospace;         
}
.clock button {           
    border: none;    
    padding: 0;    
    height: 25px;
    width: 25px;
    position: relative;
    top: 10%;
    left: 5%;
}
.clock button:active {
    transform: scale(0.9); 
    box-shadow: inset 2px 2px 1px gray;       
    border: none;
}
.go {
    background: url("images/go.png") no-repeat;
    background-size: 25px;
}
.stop {
    background: url("images/stop.png") no-repeat;
    background-size: 25px;
}
/*CONTACTS*/
.contacts {
    height: 35vh;
    background-color: #dcc1bd;
    grid-column: 2 / 5;
    margin: 5%;
    padding: 5%;
    border-radius: 5%;
    font-size: 1.5em;
    text-align: center;
}
.contacts p {
    margin-bottom: 10%;
}
.contacts a {
    text-decoration: underline rgb(92, 92, 92);
}